.errMessage{
    text-align: center;
    color: red;
    font-size: 18px;
    margin: 22px 0;
    font-weight: 600;
}
.form-email{
    display: flex;
    justify-content: center;
    input{
        width: 20%;
        padding: 5px;
        outline: none;
        border-radius: 7px;
        border: 1px solid #b3b3b3;
    }
    button{
     margin-left: 10px;
     color: #FFF;
     background-color: rgb(77, 77, 214);
     border: none;
     border-radius: 5px;
    }
}
.infoPatient{
    text-align: center;
    margin: 0;
    .titleIn{
     text-align: center;
     margin-bottom: 10px;
     color: rgb(135, 222, 181);
     font-size: 18px;
     font-weight: 600;

    }
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.content{
    width: 500px;
    .content-header {
        color: #49BCE2;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
}
.content-center {
    text-align: left;
    font-size: 22px;
    font-family: math;
    font-weight: 500;
    text-align: justify;
}
.bolda{
    font-weight: 700;
}
}