.home-footer{
    
    // margin-bottom: 0;
    background-color: #EFEFEF;

    // background-color: #64b9e5;
        .footer-top{
            padding: 10px 0;
           display: flex;
           justify-content: space-around;
           text-align: left;
      .phone-footer{
        color: #64b9e5;
    }
    .footer-center{
        ul li{
          list-style-type: none;
          font-size: 17px;
          color: #64B9E5;
          cursor: pointer;
        }
    }
    }
   

    .footer-bottom{
        color: aliceblue;
        padding: 15px 0;
        p{
            margin-bottom: 0;
        }
        background-color:#64b9e5 ;
    }
}